/* this will be the css file which will be applied to all html pages */

/* setting css variables for ease */

/* setting css variables for ease */

:root {
 /*All themes*/ 

 --clr-1:#ddeaf6;
 --clr-2: #e2edf7;
 --clr-3: #e7f0f9;
 --clr-4: #ebf3fa;
}
